<div class="progress-bar" style="min-width: 0;" role="progressbar" [ngClass]="type && 'progress-bar-' + type" [ngStyle]="{width: (percent < 400 ? percent : 400) + 'px', transition: transition}"
	aria-valuemin="0" [attr.aria-valuenow]="value" [attr.aria-valuetext]="percent.toFixed(0) + '%'" [attr.aria-valuemax]="max">
	<ng-content></ng-content>
</div>