.registr {
    width: 100%;
    display: block;
    text-align: center;
}

.column {
    display: inline-block;
    margin: 2% 5%;
    vertical-align: top;
}

.column div {
    text-align: left;
        font-size: 12pt;
            margin: 10% 0;
}

.col div {
    text-align: left;
}

.column span {
    font-size: 20pt;
    display: block;
}
/*.col input {
    width: 27px;
    height: 34px;
    margin: 10px 10px;
    margin-left: 0;
    vertical-align: middle;
}*/

.column button {
    width: 100%;
    height: 40px;
    margin-top: 11%;
    background-color: transparent;
    border: 1px solid;
    color: #f1f1f1;
    font-size: 12pt;
    font-weight: bold;
}

.registra {
    display: block;
    padding: 3px;
    bottom: 0;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 0%;
}

#divID input {
    border: 0;
    padding: 10px;
    width: 79%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background-color: #A1254A;
    font-size: 12pt;
    color: white;
}

#divId input:focus {
  outline: none;
}
#divID button {
    width: 30%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    color: #f1f1f1;
    font-size: 15pt;
}

.anime{
	display: inline-block;
	margin: 20% 46%;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

@media(max-width:815px){

.col div {
    font-size: 8pt;
}

.col span {
    font-size: 12pt;
    display: block;
    margin-top: 6%;
}

.col button {
    height: 33px;
    font-size: 8pt;
    position: relative;
    margin-top: 10px;
    bottom: 0;
}

}