<div class="anime" *ngIf="show">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-yellow-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
<div class="registr" *ngIf="!show">

	<div id="modal1" class="modal" style="z-index:10;text-align:left;">
		<a href="#!" (click)="closeModal($event)" class="modal-action modal-close waves-effect waves-green btn-flat" style="display:inline-block; float:right;s">X</a>
		<div class="modal-content">
			<div class="row">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">account_circle</i>
						<input #login id="icon_prefix" type="text" maxlength="20" class="validate" value="" autocomplete="off">
						<label id="login_label" for="icon_prefix" data-error="wrong">First Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">email</i>
						<input #email id="email" type="email" maxlength="40" class="validate" value="" [disabled]="dis" ([ngModel])="email">
						<label id="email_label" for="email" data-error="wrong" data-success="right">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">lock</i>
						<input #password id="password" type="password" maxlength="20" class="validate" value="" autocomplete="off">
						<label id="password_label" for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">room</i>
						<input #room id="room" type="text" maxlength="20" class="validate" value="" [disabled]="dis" ([ngModel])="room">
						<label id="room_label" for="room">room</label>
					</div>
				</div>
				<div class="row" *ngIf="reqCredit">
					<div class="input-field col s12">
						<i class="material-icons prefix">room</i>
						<input #room id="card" type="text" class="validate" maxlength="20" value="" data-stripe="number">
						<label id="card_label" for="room">Card Number</label>
					</div>
				</div>
				<div class="row" *ngIf="reqCredit">
					<div class="input-field col s6">
						<i class="material-icons prefix">room</i>
						<input id="mm" type="text" class="validate" maxlength="2" value="" data-stripe="exp_month">
						<label id="mm_label" for="room">Expiration (MM)</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">room</i>
						<input id="yy" type="text" class="validate" maxlength="4" value="" data-stripe="exp_year">
						<label id="yy_label" for="room">Expiration (YY)</label>
					</div>
				</div>
				<div class="row" *ngIf="reqCredit">
					<div class="input-field col s12">
						<i class="material-icons prefix">room</i>
						<input id="cvc" type="text" class="validate" maxlength="4" value="" data-stripe="cvc">
						<label id="cvc_label" for="room">CVC</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<span id="error"></span>
					</div>
				</div>
				<button class="btn waves-effect waves-light" (click)="submit(login, email, password, room)">Submit
    					<i class="material-icons right">send</i>
  				</button>
			</div>
		</div>
	</div>
	<div class="column" style="z-index:1;">
		<div>
			<span>Register</span>
			<span>Free</span>
		</div>
		<div>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled />
				<label for="filled-in-box">Track progress</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled />
				<label for="filled-in-box">Follow users</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">join chat groups</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" />
				<label for="filled-in-box">create group chat</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" />
				<label for="filled-in-box">Moderate group chat</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" />
				<label for="filled-in-box">Invite users to chat</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" />
				<label for="filled-in-box">Start Competitions</label>
			</p>
			<button (click)="reqCredit=false;openModal()">Free</button>
		</div>
	</div>
	<div class="column">
		<div>
			<span>Go Pro</span>
			<span>$ 5 / month</span>
		</div>
		<div>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">Track progress</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">Follow users</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled />
				<label for="filled-in-box">join chat groups</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">create group chat</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">Moderate group chat</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">Invite users to chat</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">Start Competitions</label>
			</p>
			<button (click)="reqCredit=true; openModal()">Start 7-day free trial</button>
		</div>
	</div>
	<div class="column">
		<div>
			<span>Go Pro(yearly)</span>
			<span>$ 49 / yearly</span>
		</div>
		<div>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">Track progress</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">Follow users</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">join chat groups</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">create group chat</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">Moderate group chat</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">Invite users to chat</label>
			</p>
			<p>
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled/>
				<label for="filled-in-box">Start Competitions</label>
			</p>
			<button (click)="reqCredit=true; openModal()">Start 7-day free trial</button>
		</div>
	</div>




	<!--<div class="registra" *ngIf="reg==true">
		<div id="note">
			<h2>
				Registration
			</h2>
		</div>
		<div class="row">

			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">account_circle</i>
					<input #login id="icon_prefix" type="text" class="validate" value="">
					<label for="icon_prefix">First Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">email</i>
					<input #email id="email" type="email" class="validate" value="">
					<label for="email" data-error="wrong" data-success="right">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">lock</i>
					<input #password id="password" type="password" class="validate" value="">
					<label for="password">Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">lock</i>
					<input #room id="room" type="text" class="validate" value="">
					<label for="room">room</label>
				</div>
			</div>
			<button class="btn waves-effect waves-light" (click)="submit(login, email, password, room)">Submit
    					<i class="material-icons right">send</i>
  				</button>
		</div>
		
		</div>
	</div>-->

</div>