<div>
	<div class="anime" *ngIf="show">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-yellow-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="main" *ngIf="!show">
		<div class="activeUsers col s12">
			<nav>
				<div class="nav-wrapper">
					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a (click)="toDashBoard($event)">Timer</a></li>
						<li><a (click)="toProgress($event)">Your Progress</a></li>
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<li><a (click)="toDashBoard($event)"><i class="material-icons">cloud</i>DashBoard</a></li>
						<li><a (click)="toProgress($event)"><i class="material-icons">cloud</i>Your Progress</a></li>
						<li><a href="#!" style="cursor:pointer;" (click)="openModal($event)"><i class="material-icons">cloud</i>Add User</a></li>
						<li>
							<div class="user-list1">
								<ul class="user-list-ul">
									<p>Current Room: {{currentRoom}}</p>
									<li class="user-list__item" *ngFor="let index of clientsNameList">
										<div class="row">
											<div class=" col s3"></div>
											<div class="col s3">
												<div class="text text_size_m"><span class="user"><img src={{index.src}}><span class="active" *ngIf="index.online == true"></span>
													<span *ngIf="index.online == false" class="offline"></span></span><span class="timer">({{index.tymerToday}})</span>
												</div>
											</div>
											<div class=" col s3"></div>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<div class="user-list">
				<ul class="user-list-ul">
					<p class="currentRoom">Current Room: {{currentRoom}}</p>
					<li class="user-list__item" *ngFor="let index of clientsNameList">
						<div class="row">
							<div class="col s12">
								<div class="text text_size_m">
									<span class="delete" *ngIf="admin && emailAdmin !== index.email" (click)="deleteUser(index.email)">X</span>
									<span class="user"><img src={{index.src}} style="border-radius: 50%;"><span class="active" *ngIf="index.online == true"></span>
									<span *ngIf="index.online == false" class="offline"></span></span><span class="name">{{index.name}} <span *ngIf="index.pro_user == true">(admin)</span></span>
									<span class="timer">({{index.tymerToday}})</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="row" *ngIf="admin">
							<a class="btn-floating" style="cursor:pointer;" (click)="openModal($event)"><i class="material-icons">add</i></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="modal1" class="modal">
			<a href="#!" (click)="closeModal($event)" class="modal-action modal-close waves-effect waves-green btn-flat" style="display:inline-block; float:right;s">X</a>
			<div class="modal-content">
				<div class="row">
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">email</i>
							<input #emailTo id="emailTo" type="email" class="validate" value="">
							<label for="emailTo" data-error="wrong" data-success="right">To Email</label>
						</div>
					</div>
					<button class="btn waves-effect waves-light" (click)="sendEmail( emailTo, emailFrom, Passwordemail)">Send
    					<i class="material-icons right">send</i>
  				</button>
				</div>
			</div>
		</div>
		<div class="firstSubChild contain">
			<div class="header">
				<div class="chat-box">
					<div class="message-box">
						<div class="chat">
							<ul id="messages" class="message">
								<li *ngFor="let msgas of mes">
									<span class="user"><img src={{msgas.src}} style="border-radius: 50%;"></span>
									<span class="text_message">{{msgas.message}}</span>
								</li>
							</ul>
						</div>
						<div class="enter-message">
							<div class="row">
								<div class="input-field col s9">
									<i class="material-icons prefix pen">mode_edit</i>
									<input (keydown)="update()" autocomplete="off" value="" autofocus required id="first_name2" type="text" class="validate"
										#messagebox (keyup)="sendMessageOnEnter($event, messagebox)" maxLength="100">
									<label class="active" for="first_name2">message</label>
								</div>
								<div class="input-field col s3">
									<a class="btn-floating" style="cursor:pointer;" (click)="sendMessage(messagebox)"><i class="material-icons">add</i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="secondSubChild">
			<div>
				<h1>Today</h1>
				<span>{{timerCount}}</span>
			</div>
			<div>
				<h1>This Week</h1>
				<span>{{timerWeek}}</span>
			</div>
			<div>
				<h1>Users Online</h1>
				<span>{{count}}</span>
			</div>
		</div>
	</div>
</div>