.dashboard{
    width: 100%;
    text-align: center;
}
.anime{
	display: inline-block;
	margin: 20% 46%;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

.dashboard .progressDiv {
    margin-top: 20px;
    background-color: inherit;
}

.dashboard .myProgress , .dashboard .friends_progress{
display: inline-block;
    width: 600px;
    height: 499px;
    border: 1px solid;
    margin: 0 6%;
    vertical-align: top;
}

.dashboard .myProgress, .dashboard .friends_progress {
    font-size: 20pt;
}

.dashboard h1 {
        font-size: 40pt;
    font-weight: bold;
}

.dashboard div {
    font-size: 20pt;
}

.dashboard .progressDiv .myProgress button,
.dashboard .progressDiv .friends_progress button {
    font-size: 20pt;
    background-color: transparent;
    border: none;
}

.dashboard .progressDiv .myProgress button:hover,
.dashboard .progressDiv .friends_progress button:hover {
    color: #f1f1f1;
    cursor: pointer;
}

.userRaiting {
width: 100%;
    margin: 0 auto;
}
.userRaiting ul {
    text-align: left;
}



.userRaiting li {
    display: inline-block;
   width: 40%;
       vertical-align: middle;
    height: 100px;
        padding: 10px;
    text-align: left;
}
.userRaiting li span{
    display: inline-block;
        width: 80px;
    height: 100%;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    vertical-align: bottom;
}

.userRaiting li progressbar {
    display: inline-block;
    vertical-align: super;
        margin-left: 13px;
}

.userRaiting li .numberValue{
    display: inline-block;
    margin-left: 3px;
    position: relative;
    bottom: 23px;
    vertical-align: baseline;
    font-size: 16pt;
    color:#f1f1f1;
}




.static {
        width: 100%;
    display: block;
    text-align: center;
}
.static div {
    display: inline-block;
   margin: 10px 6%;
    text-align: center;
}

.static div h1 {
    font-size: 130%;
    font-weight: bold;
}
.static div span {
    font-size: 472%;
    color: #f1f1f1;
}

.auth {
    display: inline-block;
    /* float: right; */
    margin-top: 1%;
    margin-right: 0%;
    margin: 12px auto;
}

.auth a {
    border: 1px solid #EA7C75;
    color: #fff;
    padding: 6px 22px;
    display: inline-block;
    background-color: #EA7C75;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 11pt;
    margin: 10px 5px;
}

.follow {
    width: 100%;
    height: 70%;
}

#canvas {
    width: 100%;
    height: 85%;
    border: 1px solid;
}

.ct-chart {
    width: 600px;
    height: 300px;
}

.ct-chart svg {
    width: 100%;
}

@media(max-width: 1368px) {
    .dashboard .myProgress, .dashboard .friends_progress {
        width: 490px;
        height: 540px;
    }

    .ct-chart {
        width: 476px;
        height: 274px;
    }   
}