nick-name {
    display: block;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid; */
    background-color: #F9F9F9;
    padding: 35px;
    box-shadow: 1px 10px 15px 0px #f1f1f1;
}

.anime{
	display: inline-block;
	margin: 20% 46%;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
header {
    width: 100%;
    height: 70px;
}
.auth {
    display: block;
    float: right;
    margin-top: 1%;
    margin-right: 5%;
}

.auth a {
    border: 1px solid #EA7C75;
    color: #fff;
    padding: 6px 22px;
    display: inline-block;
    background-color: #EA7C75;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 11pt;
    margin:10px 20px;
}

content {
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 100px;
}

.timer {

}

.timer p {
    font-size: 1200%;
    font-weight: bold;
        color: black;
}
.timer p span{
    font-size: 100%;
    font-weight: bold;
}

.config button{
    padding: 7px 30px;
    font-size: 12pt;
    font-weight: bold;
    border: 1px solid #EA7C75;
    background-color: #EA7C75;
    border-radius: 13px;
    margin: 12px;
    margin-top: 0;
    color: #fff;
}

.config button:focus {
    outline: none;
}

.config p {
    color: #f1f1f1;
    font-size: 12pt;
}
.registr {
    display: block;
    padding: 3px;
    width: 24%;
    text-align: center;
    /* margin: 0 auto; */
    margin-top: 7%;
    right: 3%;
    position: absolute;
    top: 0px;
}

#divID input {
    border: 0;
    padding: 10px;
    width: 79%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background-color: #A1254A;
    font-size: 12pt;
    color: white;
}
input:focus{
    outline: none;
}

#divId input:focus {
  outline: none;
}
#divID button {
    width: 30%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    color: #f1f1f1;
    font-size: 15pt;
}

.static {
        width: 100%;
    display: block;
    text-align: center;
}
.static div {
    display: inline-block;
   margin: 10px 6%;
    text-align: center;
}

.static div h1 {
    font-size: 230%;
    font-weight: bold;
        color: black;
}
.static div span {
    font-size: 872%;
    color: #f1f1f1;
}

@media(max-width: 1540px){
    .timer p{
    font-size: 900%;
}

.config button {
    padding: 7px 24px;
    font-size: 14pt;
    font-weight: bold;
    border: 1px solid #EA7C75;
    background-color: #EA7C75;
    border-radius: 13px;
    margin: 12px;
    margin-top: 0;
    color: #fff;
}

content {
    padding-top: 100px;
}

.static div h1{
    font-size: 210%;
    font-weight: bold;
}

.static div span{
    font-size: 764%;
    color: #f1f1f1;
}

#divID button {
    width: auto;
}
}

@media(max-width:768px) {
    .registr {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    position: inherit;
}

content {
    padding-top: 27px;
}

.static div {
    display: inline-block;
    margin: 60px 3%;
    text-align: center;
}

.auth a {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12pt;
    margin: 10px 7px;
}

.config button {
    padding: 7px 24px;
    font-size: 10pt;
    border-radius: 13px;
    margin: 7px;
}
.config p {
    color: #f1f1f1;
    font-size: 9pt;
}
.config p input {
    vertical-align: bottom;
}
.static div {
    display: inline-block;
    margin: 10px 3%;
    text-align: center;
}

.static div h1{
    font-size: 140%;
    font-weight: bold;
}

.static div span {
    font-size: 464%;
    color: #f1f1f1;
}
}

@media(max-width: 480px) {
    .auth a {
    border: 1px solid #EA7C75;
    color: #fff;
    padding: 6px 15px;
    display: inline-block;
    background-color: #EA7C75;
    border-radius: 29px;
    text-decoration: none;
    font-weight: bold;
    font-size: 11pt;
    margin: 10px 5px;
}

.registr[_ngcontent-ufe-3] {
    width: 70%;
    margin-top: 10px;
}

.timer p {
    font-size: 800%;
}

.config button {
    padding: 7px 16px;
    font-size: 9pt;
    border-radius: 22px;
    margin: 12px 4px;
    margin-top: 0;
}

.config p  {
    color: #f1f1f1;
    font-size: 9pt;
}

#divID button {
    width: 40%;
    border-radius: 20px;
    font-size: 10pt;
}
}
#divID input {
    border: 0;
    padding: 10px;
    width: 79%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background-color: #A1254A;
    font-size: 9pt;
    color: white;
}

.static div h1 {
    font-size: 106%;
    font-weight: bold;
}

.static div {
    display: inline-block;
    margin: 10px 4%;
    text-align: center;
}

.static div span{
    font-size: 404%;
    color: #f1f1f1;
}
}