<div class="anime" *ngIf="show">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-yellow-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
<div class="home_page" *ngIf="!show">
	<header>
		<div class="auth">
			<a routerLink="registration" *ngIf="authorizationUser == false">Registration </a>
			<a href="" *ngIf="authorizationUser == false" (click)="openModal($event)">Sign In</a>
			<a routerLink="dashboard" *ngIf="authorizationUser==true">Your Progress</a>
			<a routerLink="chat" *ngIf="chat_user==true">Chat</a>
			<a href="" (click)="exit($event)" *ngIf="authorizationUser==true">Sign Out</a>
		</div>
		<div id="modal1" class="modal">
			<a href="#!" (click)="closeModal($event)" class="modal-action modal-close waves-effect waves-green btn-flat" style="display:inline-block; float:right;s">X</a>
			<div class="modal-content">
				<div class="row">
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">email</i>
							<input #email id="email" type="email" class="validate" value="">
							<label for="email" data-error="wrong" data-success="right">Email</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">lock</i>
							<input #password id="password" type="password" class="validate" value="">
							<label for="password">Password</label>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<span id="error"></span>
						</div>
					</div>
					<button class="btn waves-effect waves-light" (click)="submit( email, password)">Sign In
    					<i class="material-icons right">send</i>
  				</button>
				</div>
			</div>
		</div>
	</header>
	<div class="registr" *ngIf="auth==true">
	</div>
	<content>
		<div class="timer">
			<p><span *ngIf="minute<10">0</span>{{minute}}:<span *ngIf="second<10">0</span>{{second}}</p>
		</div>
		<div class="config">
			<button (click)="start()" *ngIf="!tim">start</button>
			<button (click)="pause(minute, second)" *ngIf="tim">pause</button>
			<button (click)="stop()" [disabled]="!tim">stop</button>
			<p>Sound when timer hits zero? <input type="checkbox" id="test5" (click)="check()" />
				<label style="vertical-align: middle;" for="test5"></label></p>
		</div>
	</content>

	<div class="static">
		<div>
			<h1>Today</h1>
			<span>{{timerCount}}</span>
		</div>
		<div>
			<h1>This Week</h1>
			<span>{{timerWeek}}</span>
		</div>
		<div>
			<h1>Users Online</h1>
			<span>{{count}}</span>
		</div>
	</div>



	<!-- Modal Structure -->
</div>