/* Master Styles */
nav {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body{

  background-color: #750E0E;
}
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 200%;
}

h2 {
    font-size: 12pt;
    text-align: center;
    margin-bottom: 8px;
}

#change {
    display: block;
    margin-bottom: 20px;
    color: white;
    font-size: 12pt;
}

.main{
  width: 100%;
  margin-left: 0%;
  display: flex;
  flex-direction: row;
}



#note{

}

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Helvetica Neue',Helvetica, sans-serif;
  font-size: 14px;}





body { font: 13px Helvetica, Arial; }



.user-alert{
  position: absolute; 
  top: 10;
  right: 20;
  max-width: 96%;
  overflow-wrap: break-word;
}

#newUserID{
  padding: 15px 15px 15px 15px;
  line-height: 1.2;
  transition: color 0.4s;
  font-size: 24px;
}

#leftUserID{
  padding: 15px 60px 15px 15px;
  display: inline-table;
  line-height: 1.2;
  transition: color 0.4s;
  font-size: 24px;
}

#resID{
  position: absolute; bottom: 10; margin-left: 10;
  display: none;
}

.contain{
  display:block;
  height: 100%;
}
.header {
    padding: 20px 20px 18px 20px;
    color: #fff;
    width: 100%;
    height: 99%;
    margin: 0;
    padding: 0;
	background-color: #fff;
}
.header h2{
  font-size:16px;
  line-height:15px;
  display:inline-block;
  padding-bottom: 1em;
}
.caption{
  position: absolute !important; 
  top: 140;
  left: 120;
  right: 90;
  display: none; 
}
 
 .caption h2{
  font-size:20px;
  line-height:15px;
  display:inline-block;
  
 }



.text_size_m {
  font-size: 18px /* bem-components l-size */;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
}
.anime{
	display: inline-block;
	margin: 20% 46%;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

.progress {
    height: 20px !important;
    border-radius: 20px !important;
    background-color: #DB1A1A !important;
}

	@media(max-width:1024px){


.chat ul li div span {
    font-size: 12pt;
}


	}

@media(max-width: 768px){


.chat ul li div span {
    font-size: 10pt;
}

}

@media(max-width:480px) {
	.activeUsers {
    height: 100%;
    width: 17%;
    display: inline-block;
    display: block;
}

.secondSubChild {
    width: 18%;
    height: 100%;
    /* position: relative; */
}


.chat ul li div span {
    font-size: 7pt;
}
} 