.user-list {
    position: inherit;
    top: 180;
    overflow-y: scroll;
    text-align: center;
    right: 10;
    height: 90%;
}
.user-list-ul{
  list-style: none;
  text-align: center;
  height: 92%;
  margin: 0;
  width: 100%;
}
.user-list__item {
    position: relative;
    min-height: 60px;
    padding: 1px;
    display: inline-block;
    width: 100%;
    overflow-wrap: break-word;
    margin: 0 auto;
    height: 20%;
    padding-left: 20px;
    text-align: left;
}


.user-list__name {
  font-size: 18px;
  margin-bottom: 8px;
}
.user-list__item:last-child {
  border: none;
}

.currentRoom {
    margin: 10px 0;
    margin-bottom: 40px;
    font-size: 12pt;
}


.text_size_m .active {
display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid green;
    background-color: green;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    /* right: 13px; */
    float: right;
}

.text_size_m .offline {
	    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    background-color: gray;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    /* right: 13px; */
    float: right;
}

.activeUsers {
	height: 100%;
	width: 35%;
	display: inline-block;
}

.chat ul li div span {
	font-size: 20pt;
} 



.enter-message input:focus {
	outline: none;
}

.chat-box, {
    background: #fff;
    padding: 0 5px;
    color: #a1a1a1;
}

.enter-message{
background: #fff;
    padding: 0 5px;
    color: #a1a1a1;
    position: relative;
    bottom: 0;

}

.enter-message .row {
    margin-bottom: 0
}
.chat-box .message-box{
  clear:both;
}

.message li .text_message {
      vertical-align: sub;
    display: inline-block;
    margin-left: 20px;
    width: 70%;
    word-wrap: break-word;
    position: relative;
    top: -25px;
    color: black;
}


.message  span .name {
  padding: 5px 10px; 
  color:#555;
  font-weight:bold;
}

.message  span .msg {
  padding: 5px 10px; 
  
}

.enter-message{

}

.chat {
    height: 84%;
    width: 100%;
	overflow: scroll;
	    margin-bottom: 20px;
}

.message {
    list-style-type: none;
    margin-top: 2%;
    padding-left: 5%;
    height: 96%;
}
#messages li {
    
}



.message li .left-msg {
  background:#fff;
  border-radius:2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  padding:10px;
  text-align:left;
 }


.message li .right-msg {
    background: #fff;
    padding: 10px;
    border-radius: 2px;
    /* box-shadow: 0 1px 1px rgba(0,0,0,.04); */
    text-align: right;
}

.message li .right-msg span {
		font-size: 20pt;
    display: inline-block;
    word-break: break-all;
}

.user {
    width: 50px;
    display: inline-block;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
}
.user img {
        width: 50px;
    }


.firstSubChild {
   width: 60%;
    height: 100%;   
    background-color: #fff;
}

.secondSubChild{
  width: 30%;
  height: 100%;
  text-align: center;
}
.secondSubChild div {
	height: 30%;
}
.secondSubChild div span {
    font-size: 49pt;
}

.chat .message li {
    font-size: 20pt;
}

.auth {
    display: inline-block;
    /* float: right; */
    margin-top: 1%;
    margin-right: 0%;
    margin: 12px auto;
}

.auth a {
    border: 1px solid #EA7C75;
    color: #fff;
    padding: 6px 22px;
    display: inline-block;
    background-color: #EA7C75;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 11pt;
    margin: 10px 5px;
}
.secondSubChild h1  {
        font-size: 20pt;
    font-weight: bold;
    margin: 10px 0;
}

.user-list-ul .timer {
    position: relative;
    top: 20px;
    font-size: 20pt;
    margin-left: 10%;
    top: 14px;
    float: right;
}

.user-list-ul .delete {
    position: relative;
    bottom: 19px;
    right: 10px;
    cursor: pointer;
}

.user-list-ul .name {
    position: relative;
    bottom: 16px;
    font-size: 16pt;
    left: 35px;
}

nav .nav-wrapper .user-list {
    display: none;
}

.anime{
	display: inline-block;
	margin: 20% 46%;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

@media(max-width:768px){
    nav .nav-wrapper .user-list1{
        display: block;
    }
    .user-list .user-list-ul {
        display: none;
    }
    .activeUsers {
       width: 12%;
    }
    .firstSubChild {
        width: 70%;
    }
    .secondSubChild {
        width: 22%;
    }

    .secondSubChild h1 {
        font-size: 12pt;
    }

    .secondSubChild div span {
        font-size: 28pt;
    }
}

@media(max-width:480px){
    .auth a {
        font-size: 5pt;
        margin: 5px 5px;
    }

    .user{
        border: none;
        width: 30px;
        height: 30px;
    }

    .user-list__item {
        height: 10%;
    }

    .row {
        text-align: center;
    }

    .user-list .user-list .user-list-ul {
        display: none;
    }

    .user img {
        width: 30px;
    }

    .user-list-ul .timer {
    font-size: 10pt;
    margin-left: 10%;
    top: -10px;
}

.text_size_m .active {
    width: 5px;
    height: 5px;
    bottom: 7px;
}
.text_size_m .offline {
    width: 5px;
    height: 5px;
    bottom: 7px;
}

.secondSubChild {
    width: 15%;
    height: 100%;
}

.secondSubChild h1 {
    font-size: 9pt;
}

.secondSubChild div span {
    font-size: 25pt;
}

.activeUsers {
    width: 18%;
}

.message li .text_message {
    font-size: 8pt;
    top: -17px;
}
}