<div class="anime" *ngIf="show">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-yellow-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
<div class="dashboard" *ngIf="!show">
	<div class="auth">
		<a href="" (click)="toDashBoard($event)">Timer</a>
		<a href="" *ngIf="chat_user === true" (click)="toChat($event)">Chat</a>
	</div>
	<div class="progressDiv">
		<div class="myProgress">
			<div>
				<h1>Your Progress</h1>
				<button (click)="raiting('today')">Today</button>/
				<button (click)="raiting('week')">Weekly</button>/
				<button (click)="raiting('month')">Month</button>
			</div>
			<div class="follow">
				<!--<canvas #chessCanvas id="canvas"></canvas>-->
				<div class="ct-chart ct-perfect-fourth" id="ct"></div>
				<!--<div class="row">
					<div class="col s3">6</div>
					<div class="col s3">12</div>
					<div class="col s3">18</div>
					<div class="col s3">24</div>
				</div>-->
			</div>
		</div>
		<div class="friends_progress">
			<div>
				<h1>Following Progress</h1>
				<button (click)="rait = 'today'">Today</button>/
				<button (click)="rait = 'week'">Weekly</button>/
				<button (click)="rait = 'month'">Month</button>
			</div>
			<div class="userRaiting">
				<ul *ngIf="rait == 'today'">
					<li *ngFor="let value of clientsList | slice:0:6; let i=index">
						<span *ngIf="i<6"><img src={{value.src}} style="width: 80px;border-radius: 50%;"> </span>
						<progressbar *ngIf="i<6" [animate]="true" [value]="value.tymerToday" [type]="type"><b></b></progressbar>
						<div class="numberValue">{{value.tymerToday}}</div>
					</li>
				</ul>
				<ul *ngIf="rait == 'week'">
					<li *ngFor="let value of clientsList | slice:0:6; let i=index">
						<span *ngIf="i<6 "><img src={{value.src}} style="width: 80px;border-radius: 50%;"> </span>
						<progressbar *ngIf="i<6" [animate]="true" [value]="value.tymerWeek" [type]="type"><b></b></progressbar>
						<div class="numberValue">{{value.tymerWeek}}</div>
					</li>
				</ul>
				<ul *ngIf="rait == 'month'">
					<li *ngFor="let value of clientsList | slice:0:6; let i=index">
						<span *ngIf="i<6"><img src={{value.src}} style="width: 80px;border-radius: 50%;"> </span>
						<progressbar *ngIf="i<6" [animate]="true" [value]="value.typerMonth" [type]="type"><b></b></progressbar>
						<div class="numberValue">{{value.typerMonth}}</div>
					</li>
				</ul>
			</div>
		</div>
	</div>




	<div class="static">
		<div>
			<h1>Today</h1>
			<span>{{timerCount}}</span>
		</div>
		<div>
			<h1>This Week</h1>
			<span>{{timerWeek}}</span>
		</div>
		<div>
			<h1>Users Online</h1>
			<span>{{count}}</span>
		</div>
	</div>
</div>